<!DOCTYPE html>
<!-- Footer fragment -->
<div xmlns:th="http://www.thymeleaf.org" th:fragment="footer">
    <footer class="site-footer">
        <div class="footer-inner container">
            <div class="col">
                <h4>Contacto</h4>
                <p>San José, Costa Rica<br/>Tel: +506 8479 5825<br/>escamillayalena@gmail.com</p>
            </div>
            <div class="col">
                <h4>Otros</h4>
                <ul>
                    <li><a th:href="@{/}">Home</a></li>
                    <li><a href="#">Sobre nosotros</a></li>
                </ul>
            </div>
            <div class="col">
                <h4>Servicios</h4>
                <ul>
                    <li><a href="#">Envíos</a></li>
                    <li><a href="#">Políticas</a></li>
                </ul>
            </div>
            <div class="col">
                <h4>Síguenos</h4>
                <div class="socials">
                    <ul>
                        <li><a target="_blank" href="https://www.facebook.com/share/1GA6qnUVkZ/">Facebook</a></li>
                        <li><a target="_blank" href="https://wa.link/9m9oan">WhatsApp</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="copyright">© 2025 Salud con Amor - Todos los derechos reservados.</div>
    </footer>
</div>
